* {
  margin: 0px;
  padding: 0px;
}

#main-div{
    width: 30rem;
    background-color: white;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.319);
}

#main-section{
    height: 100vh;
    background-color: #F8FAFC;
}

#form-div label{
    margin: 0.3rem;
}

@media (max-width: 768px){
    #main-div{
        width: 80vw;
    }
}
